<nav class="navbar">
  <div class="nav-item">
    <a href="/inventory" class="nav-link">Home</a>
  </div>
  <div class="nav-item">
    <a href="/inventory/vehicles" class="nav-link">Vehicles</a>
  </div>
  <div class="nav-item">
    <a href="/inventory/manufactures" class="nav-link">Manufactures</a>
  </div>
  <div class="nav-item">
    <a href="/inventory/types" class="nav-link">Types</a>
  </div>
  <div class="nav-item">
    <a href="/inventory/vehicle/create" class="nav-link">Create new vehicle</a>
  </div>
  <div class="nav-item">
    <a href="/inventory/manufacture/create" class="nav-link"
      >Create new manufacture</a
    >
  </div>
  <div class="nav-item">
    <a href="/inventory/type/create" class="nav-link">Create new type</a>
  </div>
</nav>
